// Specific CSS for your home-page

body {
  background-color: $yellow;
  font-family: "Poppins";
}

.section-header {
  font-size: 7vw;
  padding: 8vw 10vw 4vw 10vw;
}

.hidden {
  display: none;
}

.fade-in {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
