<div class="navbar fixed-top navbar-background">
  <ul class="navbar-links">
    <li><a id="home" class="navbar-link">home</a></li>
    <li><a id="projects" class="navbar-link">projects</a></li>
    <li><a id="about" class="navbar-link">about</a></li>
    <li><a id="contact" class="navbar-link">contact</a></li>
  </ul>
</div>
