<div class="navbar-container">
  <div class="navbar fixed-top navbar-background">
    <ul class="navbar-links">
      <li><a class="mobile-menu"><i class="fa-solid fa-bars"></i></a></li>
      <li><a id="home" class="navbar-link">home</a></li>
      <li><a id="projects" class="navbar-link">projects</a></li>
      <li><a id="about" class="navbar-link">about</a></li>
      <li><a id="cert" class="navbar-link">certificates</a></li>
      <li><a id="stack" class="navbar-link">stack ⏳</a></li>
      <li><a id="contact" class="navbar-link">contact</a></li>
    </ul>

    <nav class="mobile-nav">
      <ul class="mobile-navbar-links">
        <li><a id="mob-home" class="mobile-navbar-link">home</a></li>
        <li><a id="mob-projects" class="mobile-navbar-link">projects</a></li>
        <li><a id="mob-about" class="mobile-navbar-link">about</a></li>
        <li><a id="mob-cert" class="mobile-navbar-link">certificates</a></li>
        <li><a id="mob-stack" class="mobile-navbar-link">stack ⏳</a></li>
        <li><a id="mob-contact" class="mobile-navbar-link">contact</a></li>
      </ul>
    </nav>
  </div>
</div>
