<div class="navbar fixed-top navbar-background">
  <ul class="navbar-links">
    <li><a class="mob-menu"><i class="fa-solid fa-bars"></i></a></li>
    <li><a id="home" class="navbar-link">home</a></li>
    <li><a id="projects" class="navbar-link">projects</a></li>
    <li><a id="about" class="navbar-link">about</a></li>
    <li><a id="cert" class="navbar-link">certificates</a></li>
    <li><a id="stack" class="navbar-link">stack</a></li>
    <li><a id="contact" class="navbar-link">contact</a></li>
  </ul>
</div>
