<div class="banner home-section" href="#home-section">
  <h1 class="banner-header"></h1>
</div>

<div class="profile-info hidden">
  <div class="profile-text">
    <p>JESS PATES</p>
    <p>FULLSTACK DEVELOPER</p>
  </div>
  <div class="profile-img">
    <%= image_tag('bitmoji1.png', class: "profile-photo") %>
  </div>
</div>

<div class="project-section hidden" href="#project-section">
  <h1 class="section-header project-header">projects (🛠)</h1>

  <div class="project-container">

    <div class="project">
      <h3 class="project-name">Game On</h3>
      <img class="project-img">
      <p class = "project-desc">Arcade style site</p>
    </div>

    <div class="project">
      <h3 class="project-name">FanFind</h3>
      <img class="project-img">
      <p class = "project-desc">Mobile first site</p>
    </div>

    <div class="project">
      <h3 class="project-name">shArt</h3>
      <img class="project-img">
      <p class = "project-desc">Art sharing site</p>
    </div>

      <div class="project">
      <h3 class="project-name">The Watchlist</h3>
      <img class="project-img">
      <p class = "project-desc">Share films</p>
    </div>

      <div class="project">
      <h3 class="project-name">Profile v1.0</h3>
      <img class="project-img">
      <p class = "project-desc">Original version</p>
    </div>

  </div>

</div>

<div class="about-section hidden" href="#about-section">
  <h1 class="section-header about-header">about</h1>
</div>

<div class="contact-section hidden" href="#contact-section">
  <h1 class="section-header contact-header">contact</h1>
</div>
