<div class="banner home-section" href="#home-section">
  <h1 class="banner-header"></h1>
</div>

<div class="profile-info">
  <div class="profile-text">
    <p>JESS PATES</p>
    <p>FULLSTACK DEVELOPER</p>
  </div>
  <div class="profile-img">
    <%= image_tag('bitmoji1.png', class: "profile-photo") %>
  </div>
</div>

<div class="project-section" href="#project-section">
  <h1 class="section-header project-header">projects</h1>
</div>

<div class="about-section" href="#about-section">
  <h1 class="section-header about-header">about</h1>
</div>

<div class="contact-section" href="#contact-section">
  <h1 class="section-header contact-header">contact</h1>
</div>
