<div class="banner home-section" href="#home-section">
  <h1 class="banner-header"></h1>
</div>

<div class="profile-info hidden">
  <div class="profile-text">
    <p>JESS PATES</p>
    <p>FULLSTACK DEVELOPER</p>
  </div>
  <div class="profile-img">
    <%= image_tag('bitmoji1.png', class: "profile-photo") %>
  </div>
</div>

<div class="project-section hidden" href="#project-section">
  <h1 class="section-header project-header">projects (🛠)</h1>

  <div class="project-container">

    <a class="prev arrow-btn"><i class="fa-solid fa-arrow-left"></i></a>
    <a class="next arrow-btn"><i class="fa-solid fa-arrow-right"></i></a>

    <div class="projects">

      <div class="project">
        <h3 class="project-name">Game On</h3>
        <p class = "project-desc">Arcade style site</p>
        <h6>Languages used</h6>
        <h6>Features</h6>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <img class="project-img">
      </div>

      <div class="project">

        <div class="project-details">
          <h3 class="project-name">FanFind</h3>
          <p class = "project-desc">Mobile first web application that help sports fans find the right people and the right place to watch the games of their team.</p>
          <p class = "project-desc">Group project completed as culmination of Le Wagon bootcamp.</p>
          <h6>Languages used</h6>
          <h6>Features</h6>
          <ul>
            <li>AJAX search and filter</li>
            <li>Live chatrooms</li>
            <li>Social media feed</li>
          </ul>
        </div>

        <div class="project-photo-container">
          <%= image_tag('fanfind1.png', class: "project-photo") %>
        </div>

      </div>

      <div class="project">
        <h3 class="project-name">shArt</h3>
        <img class="project-img">
        <p class = "project-desc">Art sharing site</p>
      </div>

        <div class="project">
        <h3 class="project-name">The Watchlist</h3>
        <img class="project-img">
        <p class = "project-desc">Share films</p>
      </div>

        <div class="project">
        <h3 class="project-name">Profile v1.0</h3>
        <img class="project-img">
        <p class = "project-desc">Original version</p>
      </div>
    </div>

  </div>

  <div class="project-dots">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>


</div>

<div class="about-section hidden" href="#about-section">
  <h1 class="section-header about-header">about</h1>
</div>

<div class="contact-section hidden" href="#contact-section">
  <h1 class="section-header contact-header">contact</h1>
</div>
