.cert {
  background: $orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 56vw;
  // height: 80px;
  border-radius: 16px;
  margin-bottom: 24px;
  padding-left: 48px;
  padding-right: 48px;
  h4, h5 {
    margin-bottom: 0px;
  }
  a {
    color: black;
  }
  a:hover {
    color: $light-grey;
  }
}

.cert-left {
  margin-left: 80px;
}

.cert-right {
  float: right;
  margin-right: 80px;
}

.cert-caret {
  font-size: 32px;
  float: right;
  margin: auto  0;
}

.cert-caret:hover {
  cursor: pointer;
  color: $light-grey;
}

.cert-name {
  font-size: 20px;
  margin-bottom: 0px;
}

.cert-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.cert-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.cert-js {
  display: inline-block;
}

.cert-details p {
  margin-bottom: 0px;
}

.cert-last {
  padding-bottom: 24px;
}
