.contact-bubble {
  margin: 0 auto;
  background-color: $orange;
  width: 40vw;
  min-width: 320px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16vh;
  padding: 64px;
  h3 {
    font-size: 40px;
    margin: auto 0;
  }
}

.contact-talk:hover {
  color: $light-grey;
  cursor: pointer;
}

.contact-details {
  max-height: 0px;
  overflow: hidden;
  width: 100%;
  transition: max-height 0.5s ease-out;
  background-color: $orange;
}

.contact-info {
  font-size: 20px;
  color: black;
}

.contact-link:hover {
  color: $light-grey;
  cursor: pointer;
}

.contact-awesome {
  margin-right: 16px;
}

.contact-email {
  margin-top: 32px;
}

.contact-git {
  margin-bottom: 0px;
}
