
@media only screen and (max-width: 1400px) {
  // projects
  .project-links, .project-langs {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 1200px) {
  // contact
  .contact-bubble {
    width: 48vw;
  }

  // modal windows
  .modal-window {
    width: 80%;
  }

  // projects
  .projects {
    width: 72vw;
  }
}

@media only screen and (max-width: 1000px) {
  // section headers
  #project-header, #contact-header {
    padding: 18vw 10vw 8vw 10vw;
  }

  #about-header {
    padding: 8vw 10vw 8vw 10vw;
  }
  // profile
  .profile-info {
    width: 48vw;
  }

  // contact
  .contact-bubble {
    width: 60vw;
    padding: 64px 40px;
  }

  // projects
  .arrow-btn{
    position: static;
  }

  .projects {
    width: 80vw;
  }

  .next {
    margin-right: 32vw;
    margin-top: -81px;
  }

  .prev {
    margin-left: 32vw;
    margin-top: 64px;
  }

  .land-project-photo {
    width: 360px;
  }

  // certs
  .cert-img {
    position: fixed;
    width: 100%;
    top: 20%;
    left: 0px;
  }

  .slide-hidden-left {
    transform: translateX(20vw);
  }

  .slide-hidden-right {
    transform: translateX(-20vw);
  }
}

@media only screen and (max-width: 900px) {
  // projects
  .land-project-photo {
    height: 120px;
    width: 200px;
  }

  .land-project, .port-project {
    grid-auto-columns: 2fr 2fr;
  }
}

@media only screen and (max-width: 800px) {
  // banner
  .banner-header {
    font-size: 16vw;
  }

  // about
  .about-bubble {
    height: 160px;
    width: 160px;
  }

  // certs
  .cert {
    width: 64vw;
    padding-left: 32px;
    padding-right: 32px;
    transition: transform 1s, opacity 2s;
  }

  .slide-hidden-left {
    transform: translateX(20vw);
  }

  .slide-hidden-right {
    transform: translateX(-20vw);
  }
}

@media only screen and (max-width: 600px) {
  // section headers
  #project-header {
    font-size: 10vw;
    padding: 32vw 10vw 10vw 10vw;
  }

  #contact-header {
    font-size: 10vw;
    padding: 24vw 10vw 10vw 10vw;
  }

  #about-header {
    font-size: 10vw;
    padding: 12vw 10vw 10vw 10vw;
  }

  // banner
  .banner {
    height: 400px;
  }

  // navbar
  .navbar {
    justify-content: flex-start;
  }

  .navbar-links {
    font-size: 16px;
  }

  // profile
  .profile-info {
    width: 64vw;
    height: 160px;
    font-size: 24px;
    margin-top: -80px;
  }

  .profile-photo {
    width: 120px;
  }

  // contact
  .contact-bubble {
    width: 80vw;
  }

  .contact-info {
    font-size: 16px;
  }

  .contact-awesome {
    margin-right: 12px;
  }

  // modal windows
  .modal-window {
    font-size: 12px;
    padding: 3rem 2rem 2rem 2rem;
  }

  // about
  .about-bubble {
    height: 100px;
    width: 100px;
  }

  .bubble-header {
    font-size: 16px;
  }

  .bubble-two, .bubble-three, .bubble-five, .bubble-six {
    margin-left: 16px;
  }

  //projects
  .projects {
    width: 80vw
  }

  .photos-container {
    display: none;
  }

  .project-details {
    padding: 40px 40px 0px 40px;
  }

  .port-project, .land-project {
    grid-auto-columns: 100%;
  }

  .project-desc, .langs {
    font-size: 14px;
  }

  .arrow-btn {
    width: 64px;
    height: 64px;
    font-size: 40px;
  }

  .next {
    margin-right: 20vw;
    margin-top: -64px;
  }

  .prev {
    margin-left: 20vw;
    margin-top: 48px;
  }

  // certs
  .cert {
    width: 80vw;
    padding-left: 16px;
    padding-right: 16px;
    transition: transform 3s, opacity 2s;
  }

  .cert-left {
    margin-left: 24px;
  }

  .cert-right {
    float: right;
    margin-right: 24px;
  }

  .cert-name {
    font-size: 16px;
  }

  .cert-img {
    top: 32%;
  }

  .slide-hidden-left {
    transform: translateX(10vw);
  }

  .slide-hidden-right {
    transform: translateX(-10vw);
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  // projects
  .project-details {
    margin-right: 16px;
  }

  .project-desc, .langs {
    font-size: 15px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
  // projects
  .project-name {
    margin-bottom: 12px;
  }

  .project-desc, .langs {
    font-size: 15px;
  }

  .project-links {
    font-size: 28px;
  }

  .project-links, .project-langs {
    margin-top: 12px;
  }

  .port-project {
    grid-auto-columns: 2fr 2fr;
  }
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
  // projects
  .port-project-details {
    padding-right: -16px;
    .project-name {
      margin-bottom: 4px;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  // projects
  .project-name {
    margin-bottom: 12px;
  }

  .project-links, .project-langs {
    margin-top: 12px;
  }

  .port-project {
    .project-desc, .langs {
      font-size: 13px;
      padding-right: 8px;
    }
  }

  .project-desc, .langs {
    font-size: 15px;
  }

  .project-links {
    font-size: 28px;
  }
}
