// banner

@media only screen and (max-width: 800px) {
  .banner-header {
    font-size: 16vw;
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    height: 400px;
  }
}


// mavbar

@media only screen and (max-width: 600px) {
  .navbar {
    justify-content: flex-start;
  }

  .navbar-links {
    font-size: 16px;
  }
}


// profile

@media only screen and (max-width: 1000px) {
  .profile-info {
    width: 48vw;
  }
}

@media only screen and (max-width: 600px) {
  .profile-info {
    width: 64vw;
    height: 160px;
    font-size: 24px;
    margin-top: -80px;
  }

  .profile-photo {
    width: 120px;
  }
}
