.navbar {
  height: 80px;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  // align-items: center;
  padding-right: 32px;
  z-index: 1;
}

.navbar-links {
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.navbar-links, .mobile-navbar-links {
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

#projects, #about, #contact, #cert, #stack {
  margin-left: 32px;
}

.navbar-link:hover {
  color: $light-grey;
  cursor: pointer;
}

.navbar-orange {
  background-color: $orange;
  transition: background-color 1s ease-out;
}

.navbar-yellow {
  background-color: $yellow;
  transition: background-color 1s ease-out;
}

.mobile-menu {
  display: none;
  font-size: 32px;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  background: $yellow;
  width: 60%;
  height: 100vh;
  padding-top: 4rem;
  padding-right: 2rem;
  text-align: right;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.mobile-navbar-links {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
}

.mobile-navbar-link {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.mobile-navbar-open {
  display: block !important;
}

// .navbar-backdrop {
//   background-color: rgba(0, 0, 0, 0.6);
//   backdrop-filter: blur(3px);
// }

.navbar-index {
  z-index: 51 !important;
}
