.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  // align-items: center;
  padding-right: 32px;
  z-index: 1;
}

.navbar-links {
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

#projects, #about, #contact, #cert {
  margin-left: 32px;
}

.navbar-link:hover {
  color: $light-grey;
  cursor: pointer;
}

.navbar-orange {
  background-color: $orange;
  transition: background-color 1s ease-out;
}

.navbar-yellow {
  background-color: $yellow;
  transition: background-color 1s ease-out;
}
