.profile-info {
  background-color: rgba(73, 106, 129, 0.9);
  width: 36vw;
  height: 28vh;
  border-radius: 8px 40px 8px 40px;
  padding: 16px;
  font-size: 24px;
  font-family: "Bebas neue";
  float: right;
  margin-right: 8vw;
  margin-top: -12vh;
  display: flex;
  align-items: center;
}
